<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }

            form {
                display: block;
                text-align: left;
                background-color: yellow;
                padding: 35px;
                margin: 20px auto;
                width: 640px;
                font: 16px sans-serif;
                border-radius: 100px;
            }
        </style>
    </head>
    <body>
        <h1>
            <a href="/">Signup</a>
        </h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
